@import "tailwindcss";

@config "../../tailwind.config.ts";
@source "../../index.html";
@source "../**/*.{vue,ts,tsx}";
@source "../../../../packages/ui/src/**/*.{vue,ts,tsx}";

:root {
  /* 对齐 sczfw 的浅灰页面底色 */
  --el-bg-color-page: #f8f8f8;
}

html,
body,
#app {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", Arial, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
  background: var(--el-bg-color-page);
  color: var(--el-text-color-primary);
}
